/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 28, 2017, 1:49:23 PM
    Author     : mssinfotech
*/

.placecontent ul{padding: 0;    margin: 5px 0;}
.placecontent ul li{ list-style: none; display: inline-block;border: 1px solid #ccc; margin: -3px; width: 32.5%;}
.placecontent ul li a{ display: block;text-align: center; cursor: pointer;}
.placecontent ul li a:hover,.placecontent ul li a.active { background-color: #4caf50;  color: #fff;}