Options +FollowSymLinks
RewriteEngine on
RewriteBase /itav/

# Begin cache control #
# ExpiresActive on
# ExpiresActive off
# <FilesMatch ".*">
# Header unset Cache-Control
# Header unset Expires
# Header unset Last-Modified
# FileETag None
# Header unset Pragma
# Header set Access-Control-Allow-Origin "*"
# </FilesMatch>
# End cache control #
DirectoryIndex index.php index.html

<IfModule mod_security.c>
    # Turn off mod_security filtering.  SMF is a big boy, it does not need its hands held.
    SecFilterEngine Off

    # The below probably isn't needed, but better safe than sorry.
    SecFilterScanPOST Off
</IfModule>